<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nokora:wght@700&family=Nothing+You+Could+Do&family=Oxygen:wght@700&display=swap"
    rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <script src="/happyCook.js"></script>
  <link rel="stylesheet" href="/happyCook.css">
  <title>Recipe</title>

  <link href="Nisa.png" rel="icon">
</head>

<body class="Index">

  <div>

    <img src="/images/headerBackground.png" class="card-img img-fluid img" class="card bg-dark text-white"
      alt="background" class="img-responsive">
    <div class="card-img-overlay">

      <nav class="navbar navbar-expand-lg navbar-light  happy-cook-nav">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>

          <button class="navbar-toggler navbar-right " type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon   "></span>
          </button>
          <div class="collapse navbar-collapse navbar-right " id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

              <li class="nav-item">
                <a class="nav-link" id="dropDown" aria-current="page" href="/">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" id="dropDown" href="/inspiration">Inspiration</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" id="dropDown" href="https://github.com/TechLabs-Berlin/wt21-happy-cook">GitHub</a>
              </li>

              <li class="nav-item">
                <a class="nav-link " id="dropDown" href="/aboutUs">About Us</a>
              </li>

              <li class="nav-item">
                <button class="navbar-toggler cancel rounded-pill" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarNavDropdown"> Close</button>
              </li>

            </ul>
          </div>
        </div>
      </nav>
      <!-- <nav class="navbar navbar-expand-lg navbar-light  happy-cook-nav">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>

          <button class="navbar-toggler navbar-right " type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon   "></span>
          </button>
          <div class="collapse navbar-collapse navbar-right " id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

              <li class="nav-item">
                <a class="nav-link " id="dropDown" href="/">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" id="dropDown" href="loading.html"> Loading</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" id="dropDown" href="results.html">Results</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" id="dropDown" href="recipe.html">Recipe</a>
              </li>

              <li class="nav-item">
                <a class="nav-link " id="dropDown" href="/aboutus">About Us</a>
              </li>

              <li class="nav-item">
                <button class="navbar-toggler cancel rounded-pill" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarNavDropdown"> Close</button>
              </li>

            </ul>
          </div>
        </div>
      </nav> -->

      <a href="/">
        <div class="happyPot"></div>
      </a>

      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-sm-1">
          </div>

          <div class="col-lg-5 center col-sm-10">
            <p class="fs-1">HappyCook</p>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><img src="images/lupa.png"></span>

              <form action="/recipes" method="GET" class="method">

                <!-- <div class="tag-container"> -->
                <input type="text" value="" id="box" name="ingredients" class="form-control "
                  placeholder="Enter ingredient" autofocus aria-label="Enter ingredient"
                  aria-describedby="basic-addon1" />

                <!-- </div> -->
                <br>
                <div class="difficulty">
                  <h4>Difficulty</h4>
                  <div>
                    <input type="radio" class="btn-check" name="difficulty" value="easy" id="option1" autocomplete="off"
                      checked>
                    <label class="btn btn-outline-secondary" for="option1">easy</label>

                    <input type="radio" class="btn-check" name="difficulty" value="medium" id="option2"
                      autocomplete="off">
                    <label class="btn btn-outline-secondary" for="option2">medium</label>

                    <input type="radio" class="btn-check" name="difficulty" value="hard" id="option3"
                      autocomplete="off">
                    <label class="btn btn-outline-secondary" for="option3">hard</label>
                  </div>
                </div>
              </form>


            </div>
            <!-- <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"> <img src="/images/lupa.png"></span>
              <input type="text" class="form-control" placeholder="Enter ingredient" autofocus
                aria-label="Enter ingredient" aria-describedby="basic-addon1">
            </div> -->

            <!-- <div class="difficulty">
              <h4>Difficulty</h4>
            </div> -->

          </div>

          <div class="col-lg-4 col-sm-1">
          </div>

        </div>
      </div>

    </div>

    <div class="recipeRed ">
      <div class="row">

        <div class="col-lg-2 col-sm-1"></div>

        <div class="col-lg-8 col-sm-10">
          <div class="singleRecipe">
            <div class="nameRecipe">
              <h1>
                <%= recipe.recipe_name %>
              </h1>
            </div>

            <div class="singleRecipePicture">
              <img src="<%= recipe.image_url %>">
              <div class="rightFromImage">
                <p class="large">
                  <%= match %>
                </p>
                <p class="small">match</p>

                <div class="numberOfMinutes">
                  <img src="/images/watchWhite.png">
                  <p class="large">
                    <%= recipe.total_time %>
                  </p>
                  <!-- <p class="small">minutes</p> -->
                </div>
                <div class="small">
                  <p>minutes</p>
                </div>
                <!-- <div class="meatVeg">
                  <img src="/images/cuttleryWhite.png">
                  <p>Meat/Veg</p>
                </div> -->
              </div>
            </div>

            <div class="ingredients">
              <img src="/images/ingredients.png">
              <h3 class="center">INGREDIENTS</h3>

              <br>

              <!-- <div class="bubble"> <% for (let ingredient of all_ingredients) {%>
                <%= ingredient %>
                  <% } %></div> -->
              <!-- <p class="ingredientsFont" class="bubble" > -->
              <% for (let ingredient of all_ingredients) {%>
                <p class=“ingredientsFont”>
                  <%= ingredient %>
                </p>
                <% } %>
                  <!-- <% for (let ingredient  of all_ingredients) {%>
                  <%= ingredient %>
                    <% } %> -->
                  <!-- I dont know how to implement .bubble class for everyingredient -->


            </div>

            <div class="instructions">
              <img src="/images/instructions.png">
              <h3 class="center">INSTRUCTIONS</h3>

              <!-- 1. Step -->
              <% if(all_cooking_directions[0]) {%>
                <h6 class="center">
                  1. <%= all_cooking_directions[0]%>
                </h6>
                <% } %>
                  <!-- 2 Step -->
                  <% if(all_cooking_directions[1]) {%>
                    <h6 class="center">
                      2. <%= all_cooking_directions[1]%>
                    </h6>
                    <% } %>
                      <!-- 3. step -->
                      <% if(all_cooking_directions[3]) {%>
                        <h6 class="center">
                          3. <%= all_cooking_directions[3]%>
                        </h6>
                        <% } %>

                          <!-- 4. step
                          <% if(all_cooking_directions[4]) {%>
                            <h6 class="center">
                              4. <%= all_cooking_directions[4]%>
                            </h6>
                            <% } %> -->

                          <!-- <h5 class="center">Step 2</h5>
                              <h6 class="center">Lorem ipsum</h6>

                              <h5 class="center">Step 3</h5>
                              <h6 class="center">Lorem ipsum</h6> -->

            </div>


            <div class="recipeButtons">
              <button type="button" class="seeFullRecipe" onclick="window.location.href=' ';">
                <h5> See full recipe</h5>

              </button>
              <button type="button" class="goBackRecipe" onclick="window.history.back()">
                <h5> Go back</h5>
              </button>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-sm-1"></div>
      </div>
    </div>

  </div>

  </div>
  <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog ">
      <div class="modal-content modalSecond">
        <br>
        <h1>Privacy Policy</h1>
        <h6>Updated 02. February 2022</h6>

        <h5>General notes and compulsory information</h5>
        <h6>This privacy Policy is based on the General Data Protextion Regulation("GDPR") which has been in
          effect since 25. May 2018 and applies to the use of our web site.</h6>

        <h5>Data Protection</h5>
        <h6>The operators of these pages take the protection of your personal data very seriously. We do not
          store any personal data as declared in this data protection declaration.</h6>
        <h6>When you use this website, no personal data is collected. Personal data are data with which you can
          be personally identified.</h6>
        <h6>We would like to point out that data transmission over the Internet (e.g. communication by e-mail)
          can have security gaps. A complete protetion of data against access by third parties is not possible.
        </h6>
        <h5>Contact</h5>
        <h6 class="email">info@happycook.com</h6>

        <br>
        <br>
        <button type="button" class="goBack" data-bs-dismiss="modal" aria-label="Close">Go back</button>
        <br>
      </div>
    </div>
  </div>
  <footer class="footer ">

    <div class="container">
      <div class="row">
        <div class="col privacyIndex">
          <button data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Privacy</button>

          <!-- Button trigger modal -->


        </div>
        <div class="col-8">

          <p class="footerHappyCook">HappyCook</p>
          <p class="footerCopyright">© Copyright 2022. All rights reserved</p>

        </div>
        <div class="col socialMediaIcons">
          <a href="/">
            <div class="twitter"></div>
          </a>
          <a href="/">
            <div class="linkedin"></div>
          </a>
          <a href="/">
            <div class="behance"></div>
          </a>
          <a href="/">
            <div class="whatsApp"></div>
          </a>

          <!-- <img src="images/socialMediaIcons.png"> -->
        </div>
      </div>
    </div>


  </footer>
  <script src="./happyCook.js"></script>
</body>

</html>