<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nokora:wght@700&family=Nothing+You+Could+Do&family=Oxygen:wght@700&display=swap"
    rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/happyCook.css">
  <title>HappyCook</title>
  <link href="images/iconHappyPot.jpg" rel="icon">
</head>

<body class="Index">

  <div>

    <nav class="navbar navbar-expand-lg navbar-light  happy-cook-nav">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>

        <button class="navbar-toggler navbar-right " type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon   "></span>
        </button>
        <div class="collapse navbar-collapse navbar-right " id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link active" id="dropDown" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="dropDown" href="inspiration">Inspiration</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="dropDown" href="https://github.com/TechLabs-Berlin/wt21-happy-cook">GitHub</a>
            </li>

            <li class="nav-item">
              <a class="nav-link " id="dropDown" href="aboutUs">About Us</a>
            </li>

            <li class="nav-item">
              <button class="navbar-toggler cancel rounded-pill" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"> Close</button>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <a href="/"><img src="images/iconHappyPot.svg" alt="HappyPot" class="logo happyPot"></a>

    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-sm-1">
        </div>

        <div class="col-lg-5 center col-sm-10">
          <p class="fs-1">HappyCook</p>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"> <img src="images/lupa.png"></span>

            <form action="/recipes" method="GET" class="method">
              <div class="tag-container">
                <input type="text" value="" id="box" name="ingredients" class="form-control "
                  placeholder="Enter ingredient" autofocus aria-label="Enter ingredient"
                  aria-describedby="basic-addon1" />
              </div>

              <div class="difficulty">
                <h4>Difficulty</h4>
                <div class="difficultyButtons">

                  <input type="radio" id="choice1" name="difficulty" value="easy">EASY

                  <input type="radio" id="choice2" name="difficulty" value="normal">NORMAL

                  <input type="radio" id="choice3" name="difficulty" value="hard">HARD
                </div>
              </div>

            </form>

          </div>
          <div class="difficultyBar">
            <button class="">easy</button>
            <button>medium</button>
            <button>hard</button>
          </div>


        </div>

        <div class="col-lg-4 col-sm-1">
        </div>

      </div>
    </div>

  </div>
  </div>

  <div class="resultsRed">
    <img src="/images/resultsRed.png" class="card-img img-fluid img-responsive  resultsRed   " alt="resultsRed">
    <div class="top3Results">

      <!-- Show top 3 recipes -->
      <% for (let recipe of top3recipes) {%>
        <div class="recipesRed">
          <p>
            <a href="/recipes/<%= recipe.recipe_id%>">
              <%= recipe.recipe_name %>
            </a>
          </p>
          <img src="/images/recipe1.png" alt="recipe1">
          <!--Abi: I need connect real images-->
          <div class="recipeIcon">
            <div class="match">
              <img src="/images/OK.png">
              <p>
                <%= recipe.match %>
              </p>
            </div>

            <div class="match">
              <img src="/images/watch.png">
              <p>
                <%= recipe.time %> minutes
              </p>
            </div>

            <div class="match">
              <img src="/images/cuttlery.png">
              <p>Vegetarian</p> <!-- Leticia told me that she is thinking that only "vegetarian" should be there-->
            </div>
          </div>
        </div>
        <% } %>

          <!-- Show all remaining recipes (Recipe No 4 to 12) -->
          <% for (let recipe of remainingrecipes) {%>
            <div class="recipesRed">
              <p>
                <a href="/recipes/<%= recipe.recipe_id%>">
                  <%= recipe.recipe_name %>
                </a>
              </p>
              <img src="/images/recipe1.png" alt="recipe1">
              <!--Abi: I need connect real images-->
              <div class="recipeIcon">
                <div class="match">
                  <img src="/images/OK.png">
                  <p>
                    <%= recipe.match %>
                  </p>
                </div>

                <div class="match">
                  <img src="/images/watch.png">
                  <p>
                    <%= recipe.time %> minutes
                  </p>
                </div>

                <div class="match">
                  <img src="/images/cuttlery.png">
                  <p>Vegetarian</p> <!-- Leticia told me that she is thinking that only "vegetarian" should be there-->
                </div>
              </div>
            </div>
            <% } %>

              <footer class="footer ">

                <div class="container">
                  <div class="row">
                    <div class="col privacy">
                      <p>Privacy</p>
                    </div>
                    <div class="col-8">

                      <p class="footerHappyCook">HappyCook</p>
                      <p class="footerCopyright">© Copyright 2022. All rights reserved</p>

                    </div>
                    <div class="col socialMediaIcons">
                      <img src="images/socialMediaIcons.png">
                    </div>
                  </div>
                </div>


              </footer>










    </div>
  </div>


  <div class="resultsYellow">
    <img src="/images/topButton.png">

  </div>



</body>

</html>